/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_main.scss */
.box {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
}
/* line 38, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.box:after {
  content: "";
  display: table;
  clear: both;
}

/* line 6, ../sass/_main.scss */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  *zoom: 1;
  padding-top: 80px;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 50px;
}
/* line 12, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 15, ../sass/_main.scss */
ul.video-list {
  list-style: none;
  padding: 0px;
}

/* line 20, ../sass/_main.scss */
li.youtube-item {
  width: 100%;
  height: 50px;
  border: 1px solid black;
  margin: 20px 0px;
}

/* line 27, ../sass/_main.scss */
li.youtube-item:hover {
  background: #bdc3c7;
}

/* line 31, ../sass/_main.scss */
li.currentVid {
  background: #2980b9;
}

/* line 35, ../sass/_main.scss */
input[type="text"] {
  width: 99%;
  margin: .5rem 0;
  background: white;
  border: 1px solid #555459;
  color: #555459;
  font-size: 1.1rem;
}
/* line 43, ../sass/_main.scss */
input[type="text"]:focus {
  border-color: #439fe0;
}

/* line 48, ../sass/_main.scss */
input[type="submit"] {
  width: 100% !important;
  padding: .75rem 1.25rem;
  margin: .5rem 0;
  background: #439fe0;
  color: white;
  font-size: 15px;
  font-weight: 400;
  padding: .75rem 2rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #194ba3;
  vertical-align: bottom;
  cursor: pointer;
  transition: background .1s;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
}

/* line 65, ../sass/_main.scss */
.prev {
  float: left;
  display: inline-block;
}

/* line 70, ../sass/_main.scss */
.next {
  display: inline-block;
}

/* line 74, ../sass/_main.scss */
div.scrollable {
  overflow-y: auto;
}

/* line 78, ../sass/_main.scss */
.playlist {
  overflow: hidden;
}

/* line 82, ../sass/_main.scss */
.navigation {
  padding-bottom: 20px;
}

/* line 86, ../sass/_main.scss */
.ag1 {
  width: 18.36735%;
  float: left;
  margin-right: 2.04082%;
}

/* line 90, ../sass/_main.scss */
.ag2 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  *zoom: 1;
}
@media (min-width: 600px) {
  /* line 90, ../sass/_main.scss */
  .ag2 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 900px) {
  /* line 90, ../sass/_main.scss */
  .ag2 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 102, ../sass/_main.scss */
.ag3 {
  width: 65.90909%;
  float: left;
  margin-right: 2.27273%;
}

/* line 106, ../sass/_main.scss */
.ag4 {
  overflow: hidden;
  *zoom: 1;
  width: 31.81818%;
  float: right;
  margin-right: 0;
}

/* line 111, ../sass/_main.scss */
.ag8 {
  width: 23.07692%;
  float: left;
  margin-right: 2.5641%;
}

/* line 115, ../sass/_main.scss */
.ag9 {
  width: 23.07692%;
  float: right;
  margin-right: 0;
}

/* line 119, ../sass/_main.scss */
.ag5 {
  width: 48.71795%;
  float: left;
  margin-right: 2.5641%;
}

/* line 123, ../sass/_main.scss */
.ag6 {
  width: 48.71795%;
  float: right;
  margin-right: 0;
}

/* line 130, ../sass/_main.scss */
.ag7 {
  width: 65.51724%;
  float: right;
  margin-right: 0;
  overflow: hidden;
  *zoom: 1;
}

/* line 137, ../sass/_main.scss */
.ag10 {
  clear: both;
}

/**
 * Styles for AG grids & Container
 */
/* line 148, ../sass/_main.scss */
.container {
  background-color: #FFF;
}

/* line 164, ../sass/_main.scss */
.ag8, .ag9 {
  text-align: center;
}

/* line 174, ../sass/_main.scss */
.ag7 {
  background-color: #f6d784;
}

/* line 178, ../sass/_main.scss */
.ag10 {
  background-color: #ea9fc3;
}
